@using Microsoft.AspNetCore.Components.Web
@namespace NursesScheduler.BlazorShared.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="_content/NursesScheduler.BlazorShared/css/bulma.min.css" rel="stylesheet" />
    <link href="_content/NursesScheduler.BlazorShared/css/all.min.css" rel="stylesheet" />
    <link href="_content/NursesScheduler.BlazorShared/css/site.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="has-navbar-fixed-top">
    @RenderBody()

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
