<div class="control">
    <div class="select">
        <select value="@YearPickerViewModel.YearNumber" onchange="SelectedYearChanged">
            @for(int i = FirstYear; i <= DateTime.Now.Year + 1; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
</div>

@code {
    [Parameter]
    public IYearPickerViewModel YearPickerViewModel { get; set; }
    [Parameter]
    public EventCallback OnChange { get; set; }
    [Parameter]
    public int FirstYear { get; set; }

    private async Task SelectedYearChanged(ChangeEventArgs e)
    {
        YearPickerViewModel.YearNumber = Int32.Parse(e.Value.ToString());
        await OnChange.InvokeAsync();
    }
}
