

<table class="table-schedule">
    <thead>
        <tr>
            <th class="no">L.p.</th>
            <th class="name">Pracownik</th>
            <th class="previous">Poprz.</th>
            @foreach (var day in MonthDays)
            {
                <th class="@ScheduleCssHelper.GetDayClass(day) day">
                    <div class="tooltip">
                        <p>@day.ToString()</p>
                        <p>@day.GetDayOfWeekAbreviation()</p>
                        @if (day.IsHoliday && !String.IsNullOrEmpty(day.HolidayName))
                        {
                            <div class="tooltiptext">@day.HolidayName</div>
                        }
                    </div>
                </th>
            }
            <th class="summary">Poprz. mies.</th>
            <th class="summary">Poz. godz. w mies.</th>
            <th class="summary">Poz. godz. w kwar.</th>
            <th class="summary">Przyp. wolne</th>
        </tr>
    </thead>
    <tbody>
        @{
            i = 1;
            foreach (var nurse in ScheduleNurses)
            {
                <ScheduleRow No=i++ ScheduleNurse=nurse MonthDays=MonthDays MorningShifts=MorningShifts/>
            }
        }
    </tbody>
</table>


@code {
    [Parameter]
    public IEnumerable<DayViewModel> MonthDays { get; set; }
    [Parameter]
    public IEnumerable<ScheduleNurseViewModel> ScheduleNurses { get; set; }
    [Parameter]
    public IEnumerable<MorningShiftViewModel> MorningShifts { get; set; }

    private int i;
}
