@page "/nurses/add"

@inherits ComponenentUsingDepartament

@using NursesScheduler.BlazorShared.Pages.Nurses.Controls
@using NursesScheduler.BusinessLogic.CommandsAndQueries.DepartamentsSettings.Queries.GetDepartamentSettings
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Nurses.Commands.AddNurse

@inject IMediator _mediatr
@inject IMapper _mapper
@inject IExceptionHandler _exceptionHandler

<div class='container'>
    <div class="level">
        <div class="level-left">
            <div class="level-item has-text-centered">
                <p class="title">Dodaj nowego pracownika</p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a class="button is-info" href="/nurses">Powrót</a>
            </div>
        </div>
    </div>
    <NurseForm Nurse=_nurse UseTeams=_departamentSettings.UseTeams SaveNurse="SaveNurse" />
</div>


@code {
    private NurseViewModel _nurse;
    private DepratamentSettingsViewModel _departamentSettings;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadDepartamentSettings();
            _nurse = new NurseViewModel();
            _nurse.DepartamentId = CurrentDepartamentStore.CurrentDepartament.DepartamentId;
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task SaveNurse()
    {
        try
        {
            var request = _mapper.Map<AddNurseRequest>(_nurse);
            var response = await _mediatr.Send(request);

            NavigationManager.NavigateTo("/nurses");
        }
        catch (Exception e)
        {
            _exceptionHandler.HandleException(e);
        }
    }

    private async Task LoadDepartamentSettings()
    {
        try
        {
            var request = new GetDepartamentSettingsRequest
                {
                    DepartamentId = CurrentDepartamentStore.CurrentDepartament.DepartamentId,
                };

            _departamentSettings = _mapper.Map<DepratamentSettingsViewModel>(await _mediatr.Send(request));
        }
        catch (Exception e)
        {
            _exceptionHandler.HandleException(e);
        }
    }
}

