 @inherits ModalBase


<div class="modal @CssHelper.SetIsActive(_isVisible)">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Usuń</p>
            <button class="delete" aria-label="close" @onclick="base.ChangeVisibility"></button>
        </header>
        <section class="modal-card-body">
            <section>Czy na pewno chcesz usunąć <b>@_name</b>?</section>
            <section>Tej operecji nie da się cofnąć.</section>
        </section>
        <footer class="modal-card-foot">
            <div class="footer-buttons">
                <Button Style="button" Text="Anuluj" Action=base.ChangeVisibility/>
                <LoadingButton Style="button is-danger" Text="Usuń" Action="Delete"/>
            </div>
        </footer>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback<int> DeleteAction { get; set; }

    private string _name;
    private int _id;

    public void ShowModal(string name, int id)
    {
        _name = name;
        _id = id;
        ChangeVisibility();
    }

    private async Task Delete()
    {
        await DeleteAction.InvokeAsync(_id);
        ChangeVisibility();
    }
}

