@inherits ModalBase


<div class="modal @CssHelper.SetIsActive(_isVisible)">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Błąd</p>
            <button class="delete" aria-label="close" @onclick="base.ChangeVisibility"></button>
        </header>
        <section class="modal-card-body">
            <section>@_message</section>
        </section>
        <footer class="modal-card-foot">
            <div class="footer-buttons">
                <Button Style="button is-danger" Text="Zamknij" Action=base.ChangeVisibility/>
            </div>
        </footer>
    </div>
</div>


@code {
    private string _message { get; set; }

    public void ShowError(string message)
    {
        _message = message;
        base.ChangeVisibility();
    }
}

