@inherits ModalBase

<div class="modal @CssHelper.SetIsActive(_isVisible)">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">@Title</p>
            <button class="delete" aria-label="close" @onclick="base.ChangeVisibility"></button>
        </header>
        <section class="modal-card-body">
            <p>@Content</p>
        </section>
        <footer class="modal-card-foot">
            <div class="footer-buttons">
                <Button Style="button" Text="Anuluj" Action=base.ChangeVisibility/>
                <LoadingButton Style="button is-danger" Text="Tak" Action="YesAction"/>
            </div>
        </footer>
    </div>
</div>


@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Content { get; set; }
    [Parameter]
    public EventCallback YesAction { get; set; }
}

