<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <NavLink class="navbar-item" href="/scheduleView">Grafiki</NavLink>
      <NavLink class="navbar-item" href="/Nurses">Pielęgniarki</NavLink>
      <NavLink class="navbar-item" href="/Settings">Ustawienia</NavLink>
    </div>

    <div class="navbar-end">
      <b class="navbar-item">
          Oddział:
      </b>
      <div class="navbar-item">
        <div class="buttons">
          <NavLink class="button" href="/departaments">Wybierz oddział</NavLink>
        </div>
      </div>
    </div>
  </div>
</nav>

@code {

}
