<div class="container">
  <section class="section is-medium">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column has-text-centered">
          <h1 class="title">Nie znaleziono strony</h1>
          <p class="subtitle">Spróbuj ponownie później</p>
        </div>
      </div>
    </div>
  </section>
</div>

@code {

}
