.main {
    padding-top: 20px;
}

.is-error {
    color: #f03a5f;
}

.is-fullwidth {
    width: 100%;
}

/*spinner*/

.loader-spin {
    font-size: 10px;
    margin: 100px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #000000;
    background: -moz-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: -webkit-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: -o-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: -ms-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
    background: linear-gradient(to right, #000000 10%, rgba(0,0,0, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader-spin:before {
    width: 50%;
    height: 50%;
    background: #000000;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader-spin:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*tooltip*/

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 100;
}

/*table*/

.schedule-header {
    
}

.schedule-view {
    width: 100%;
    margin: 0 auto;
    padding: 8px 10px;
    max-width: 1600px;
}

table.table-schedule {
    margin: 10px auto;
    table-layout: fixed;
    width: 100%;
    max-width: 1600px;
}


.sunday {
    background-color: rgb(214, 214, 214);
}

th.holiday {
    background-color: rgb(214, 214, 214);
    color: #f03a5f;
    cursor: pointer;
}

.saturday {
    background-color: rgb(235, 235, 235);
}

.table-schedule td {
    text-align: right;
    vertical-align: middle;
    font-size: 14px;
    border: 1px solid black;
    padding: 2px;
}

.table-schedule td select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0px;
    text-overflow: '';
    background: none;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

th.previous {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 3px;
    width: 24px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.table-schedule th {
    font-size: 12px;
    border: 1px solid rgb(100, 100, 100);
    vertical-align: middle;
    padding: 2px;
    top: 56px;
    position: sticky;
    z-index: 8;
}

.day {
    text-align: center;
    width: 38px;
}

.day p {
    width: 100%;
    text-align: center;
}

.summary {
    width: 50px;
}

.summary, .previous {
    border-right: 2px solid black !important;
    border-left: 2px solid black !important;
}

.table-schedule tr {
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
}

th.name, td.name {
    overflow: hidden;
    white-space: nowrap;
}

.time-off {
    background: #ffdc7d;
}

.no {
    width: 22px;
    border-left: 2px solid black !important;
}

th {
    background: white;
}

.table-schedule th:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid black;
}