@using NursesScheduler.BlazorShared.Stores
@using NursesScheduler.BlazorShared.ViewModels

@inject CurrentDepartamentStore currentDepartamentStore;

<div class="card">
  <div class="card-content">
    <p class="title is-4">@Departament.Name</p>
    <a href="#">Edytuj</a>
    <button type="button" class="btn btn-primary" @onclick="OnDepartamentPick">Wybierz</button>
    <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Share on <a href="#">Facebook</a>
      </span>
    </p>
  </footer>
  </div>
</div>

@code {
    [Parameter]
    public DepartamentViewModel Departament { get; set; }

    private void OnDepartamentPick()
    {
        currentDepartamentStore.CurrentDepartament = Departament;
    }
}
