@page "/settings"

@inherits ComponenentUsingDepartament

@using NursesScheduler.BusinessLogic.CommandsAndQueries.DepartamentsSettings.Commands.EditDepartamentSettings
@using NursesScheduler.BusinessLogic.CommandsAndQueries.DepartamentsSettings.Queries.GetDepartamentSettings

@inject IMediator _mediatr;
@inject IMapper _mapper;

<div class='container'>
    <div class="level">
        <div class="level-left">
            <div class="level-item has-text-centered">
                <p class="title">Ustawienia</p>
            </div>
        </div>
    </div>
    @if(_settings == null)
    {
        <NursesScheduler.BlazorShared.Controls.Shared.LoadingSpinner/>
    }
    else
    {
        <NursesScheduler.BlazorShared.Controls.Settings.SettingsForm Settings=_settings SaveSettings="SaveSettings" Cancel="LoadSettings"/>
    }
</div>


@code {
    private DepratamentSettingsViewModel _settings;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) 
            await LoadSettings();

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task LoadSettings()
    {
        try
        {
            var request = new GetDepartamentSettingsRequest
            {
                DepartamentId = CurrentDepartamentStore.CurrentDepartament.DepartamentId,
            };
            var response = await _mediatr.Send(request);
            if (response == null) 
                NavigationManager.NavigateTo("/notFound");
            _settings = _mapper.Map<DepratamentSettingsViewModel>(response);
            StateHasChanged();
        }
        catch (Exception e)
        {
            base.HandleException(e);
        }
    }


    private async Task SaveSettings()
    {
        try
        {
            var request = _mapper.Map<EditDepartamentSettingsRequest>(_settings);
            var response = await _mediatr.Send(request);
        }
        catch (Exception e)
        {
            base.HandleException(e);
        }
    }
}
