@page "/departaments/add"
@using AutoMapper
@using MediatR
@using NursesScheduler.BlazorShared.ViewModels
@using NursesScheduler.BusinessLogic.Departaments.Commands.CreateDepartament
@inject IMediator mediatr;
@inject IMapper mapper;

<h3>Dodaj oddział</h3>
<NursesScheduler.BlazorShared.Controls.Departaments.DepartamentForm Departament=@departament SaveOnClick="SaveDepartament"/>


@code {
    protected DepartamentViewModel departament = new DepartamentViewModel();
    protected async void SaveDepartament()
    {
        var request = mapper.Map<CreateDepartamentRequest>(departament);
        var response = await mediatr.Send(request);
        Console.WriteLine(response.Id);
    }
}
