

<td>
    <div class="">
        <select>
            <option> </option>
            <option>D</option>
            <option>N</option>
            <option>R</option>
        </select>
    </div>
</td>


@code {
    [Parameter]
    public ShiftViewModel Shift { get; set; }
}
