

<table class="table-schedule">
    <thead>
        <tr>
            <th>Pracownik</th>
            <th class="previous">Poprz.</th>
            @for(int i = 0; i < Month.Days.Length; i++)
            {
                <th class="@ScheduleCssHelper.GetDayClass(Month.Days[i])">
                    <p>@Month.GetDate(i)</p>
                    <p>@Month.Days[i].GetDayOfWeekAbreviation()</p>
                </th>
            }
            <th>Poprzedni okres</th>
            <th>Przypisane godziny</th>
            <th>Przypisane w kwartale</th>
            <th>Przypisany urlop</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var row in RowsData)
        {
            <ScheduleRow/>
        }
    </tbody>
</table>


@code {
    [Parameter]
    public MonthViewModel Month { get; set; }
    [Parameter]
    public ICollection<ScheduleRowViewModel> RowsData { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            
            StateHasChanged();
        }
    }
}
