<!--@using NursesScheduler.Domain.Entities.Calendar

<h3>ScheduleTable</h3>

<table class="table-schedule">
    <thead>
        <tr>
            <th>Pracownik</th>
            <th class="previous">Poprz.</th>
            @for(int i = 0; i < Month.Days.Length; i++)
            {
                <th>
                    @(i + 1) + "." + Month.MonthNumber.ToString().PadLeft(2);
                </th>
            }
            <th>Czas pracy</th>
            <th>Czas pracy</th>
            <th>Czas pracy</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < 20; i++)
        {
            <ScheduleRow/>
        }
    </tbody>
</table>-->


@code {
    //[Parameter]
    //public Month Month { get; set; }
}
