

<table class="table-schedule">
    <thead>
        <tr>
            <th>Pracownik</th>
            <th class="previous">Poprz.</th>
            @foreach (var day in MonthDays)
            {
                <th class="@ScheduleCssHelper.GetDayClass(day) day">
                    <div class="tooltip">
                        <p>@day.ToString()</p>
                        <p>@day.GetDayOfWeekAbreviation()</p>
                        @if (day.IsHoliday && !String.IsNullOrEmpty(day.HolidayName))
                        {
                            <div class="tooltiptext">@day.HolidayName</div>
                        }
                    </div>
                </th>
            }
            <th class="summary">Poprzedni okres</th>
            <th class="summary">Pozostałe godziny w miesiącu</th>
            <th class="summary">Pozostałe godziny w kwartale</th>
            <th class="summary">Przypisany urlop</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var nurse in ScheduleNurses)
        {
            <ScheduleRow ScheduleNurse=nurse MonthDays=MonthDays/>
        }
    </tbody>
</table>


@code {
    [Parameter]
    public DayViewModel[] MonthDays { get; set; }
    [Parameter]
    public ICollection<ScheduleNurseViewModel> ScheduleNurses { get; set; }
}
