@page "/nurses/add"

@inherits ComponenentUsingDepartament

@using NursesScheduler.BusinessLogic.CommandsAndQueries.Nurses.Commands.AddNurse

@inject IMediator _mediatr;
@inject IMapper _mapper;

<div class='container'>
    <div class="level">
        <div class="level-left">
            <div class="level-item has-text-centered">
                <p class="title">Dodaj nowego pracownika</p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a class="button is-info" href="/nurses">Powrót</a>
            </div>
        </div>
    </div>
    <NursesScheduler.BlazorShared.Controls.Nurses.NurseForm Nurse=_nurse SaveNurse="SaveNurse"/>
</div>


@code {
    private NurseViewModel _nurse;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _nurse = new NurseViewModel();
        _nurse.DepartamentId = CurrentDepartamentStore.CurrentDepartament.DepartamentId;
    }

    private async void SaveNurse()
    {
        try
        {
            var request = _mapper.Map<AddNurseRequest>(_nurse);
            var response = await _mediatr.Send(request);

            NavigationManager.NavigateTo("/nurses");
        }
        catch (Exception e)
        {
            base.HandleException(e);
        }
    }
}

