@page "/nurses"

@using NursesScheduler.BusinessLogic.CommandsAndQueries.Nurses.Queries.GetNursesFromDepartament

@inherits ComponenentUsingDepartament

@inject IMediator _mediatr
@inject IMapper _mapper


<div class="container">
    <div class="level">
        <div class="level-left">
            <div class="level-item has-text-centered">
                <p class="title">Pracownicy</p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <p class="control">
                  <a class="button is-primary" href="/nurses/add">
                    <span class="icon">
                      <i class="fas fa-plus" aria-hidden="true"></i>
                    </span>
                    <span>Dodaj nowego pracownika</span>
                  </a>
                </p>
            </div>
        </div>
    </div>

    @if (_nurses == null)
    {
        <LoadingSpinner/>
    }
    else
    {
        <NursesScheduler.BlazorShared.Controls.Nurses.NursesTable Nurses=_nurses/>
    }
</div>


@code {
    private List<NurseViewModel> _nurses;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender) 
            await LoadNurses();
    }

    private async Task LoadNurses()
    {
        try
        {
            var request = new GetNursesFromDepartamentRequest
            {
                DepartamentId = CurrentDepartamentStore.CurrentDepartament.DepartamentId
            };
            var response = await _mediatr.Send(request);

            _nurses = _mapper.Map<List<NurseViewModel>>(response).OrderBy(n => n.Name).ToList();
            StateHasChanged();
        }
        catch(Exception e)
        {
            HandleException(e);
        }
    }
}
