

<div class="modal @CssHelper.SetIsActive(_isActive)">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Usuń</p>
            <button class="delete" aria-label="close" @onclick="ChangeVisibility"></button>
        </header>
        <section class="modal-card-body">
            <section>Czy na pewno chcesz usunąć <b>@_name</b>?</section>
            <section>Tej operecji nie da się cofnąć.</section>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger @CssHelper.SetIsLoading(_isLoading)" @onclick="Delete">Usuń</button>
            <button class="button" @onclick="ChangeVisibility">Anuluj</button>
        </footer>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback<int> DeleteAction { get; set; }

    private bool _isActive;
    private bool _isLoading;
    private string _name;
    private int _id;

    private void ChangeVisibility()
    {
        _isActive = !_isActive;
    }

    public void SetModal(string name, int id)
    {
        _name = name;
        _id = id;
        ChangeVisibility();
    }

    private async void Delete()
    {
        _isLoading = true;
        await Task.Delay(1);
        await DeleteAction.InvokeAsync(_id);
        ChangeVisibility();
        StateHasChanged();
    }
}

