

<div class='columns is-mobile is-centered'>
    <div class='column is-5'>
        <div class="card">
            <div class="card-content">
                <EditForm EditContext="@_editContext">
                    <DataAnnotationsValidator />
                    <TextInput Label="Imie" @bind-Value="Nurse.Name" ValidationFor="@(() => Nurse.Name)" />
                    <TextInput Label="Nazwisko" @bind-Value="Nurse.Surname" ValidationFor="@(() => Nurse.Surname)" />
                    <div class="field">
                        <label class="label">Wymiar urlopu</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <InputSelect @bind-Value="Nurse.PTOentitlement">
                                    <option value="26">26 dni</option>
                                    <option value="20">20 dni</option>
                                </InputSelect>
                            </div>
                            <div class="help is-danger">
                                <ValidationMessage For="@(() => Nurse.PTOentitlement)" />
                            </div>
                        </div>
                    </div>
                    @if (UseTeams)
                    {
                        <div class="field">
                            <div class="control">
                                <InputRadioGroup @bind-Value="Nurse.NurseTeam">
                                    <label class="radio">
                                        <InputRadio Value="NurseTeams.A" />
                                        Zespół A
                                    </label>
                                    <label class="radio">
                                        <InputRadio Value="NurseTeams.B" />
                                        Zespół B
                                    </label>
                                </InputRadioGroup>
                            </div>
                        </div>
                    }
                    <div class="buttons is-right">
                        <a class="button" href="/nurses">Anuluj</a>
                        <LoadingButton Style="button is-primary" Text="Zapisz" Action="OnSubmit" />
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public NurseViewModel Nurse { get; set; }
    [Parameter]
    public bool UseTeams { get; set; }
    [Parameter]
    public EventCallback SaveNurse { get; set; }

    private EditContext _editContext;

    private async Task OnSubmit()
    {
        if (!_editContext.Validate())
        {
            return;
        }
        await SaveNurse.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        _editContext = new(Nurse);
        _editContext.SetFieldCssClassProvider(new CustomFieldClassHelper());
    }
}
